{% extends 'admin/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
    
    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="/js/admin/user/edit.js"></script>
{% endblock %}
{% block stylesheets %}
    <link href="/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet">
{% endblock %}