{% extends 'admin/base.html.twig' %}

{% block title %}New UserGroup{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">User Group</a>
        </li>
        <li class="breadcrumb-item active">New</li>
    </ol>

    {{ include('admin/user_group/_form.html.twig') }}

{% endblock %}
